---
type Props = {
  title: {
    link: string;
    text: string;
  };
};

const {
  title: { link, text },
} = Astro.props;
---

<section>
  <div>
    <a href={link}>{text}</a>
  </div>
  <slot />
</section>
