---
import { getEntries, type CollectionEntry } from "astro:content";
import HomepagePostCard from "./HomepagePostCard.astro";
import HomepageTagCard from "./HomepageTagCard.astro";
import HomepageSeriesCard from "./HomepageSeriesCard.astro";

type Props = {
  section: CollectionEntry<"homepageSections">;
};

const { section } = Astro.props;

const { Content } = await section.render();

const {
  data: { title, references },
} = section;

let itemEntries = undefined;

if (references.discriminant != "none") {
  itemEntries = await getEntries(references.value);
}
---

<section>
  <header>{title}</header>
  <Content />
  {
    itemEntries && (
      <ul>
        {itemEntries.map((item) => (
          <li>
            {item.collection == "posts" ? (
              <HomepagePostCard post={item} />
            ) : item.collection == "tags" ? (
              <HomepageTagCard tag={item} />
            ) : item.collection == "series" ? (
              <HomepageSeriesCard series={item} />
            ) : (
              <div>Unrecognized Item Type</div>
            )}
          </li>
        ))}
      </ul>
    )
  }
</section>
