---
import { Image } from "astro:assets";
import { getEntries, type CollectionEntry } from "astro:content";
import SeriesPostsListItem from "./SeriesPostsListItem.astro";

type Props = {
  series: CollectionEntry<"series">;
};

const { series } = Astro.props;

const posts = await getEntries(series.data.posts.map((p) => p.post));
const havePosts = posts.length > 0;
---

<article>
  {
    series.data.cover && (
      <Image src={series.data.cover} alt={series.data.coverAlt ?? ""} />
    )
  }
  <h1>{series.data.title}</h1>
  {
    havePosts && (
      <ul>
        {posts.map((post, index) => (
          <li>
            <SeriesPostsListItem index={index + 1} post={post} />
          </li>
        ))}
      </ul>
    )
  }
</article>
