---
import RootLayout from "../layouts/RootLayout.astro";
import HomepageSection from "../components/homepage/HomepageSection.astro";

import { getCollection, getEntries, getEntry } from "astro:content";

const [homepage] = await getCollection("homepage");
const sections = await getEntries(homepage.data.sections);
---

<RootLayout>
  <ul>
    {
      sections.map((section) => (
        <li>
          <HomepageSection section={section} />
        </li>
      ))
    }
  </ul>
</RootLayout>
