---
import Nav from "../header/Nav.astro";
import MainEntrance from "../header/MainEntrance.astro";
---

<section>
  <div>
    <a href="/">
      <MainEntrance />
    </a>
  </div>
  <nav>
    <Nav />
  </nav>
</section>
